@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* @(await Component.InvokeAsync("StreamSelectList")) *@
<a href="https://www.itftennis.com/en/">Source: International Tennis Federation</a>
<iframe src="~/assets/document/ITN.pdf" width="100%" height="850px"></iframe>
